body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  color: #dadada;
  margin: 100px auto 0 auto;
}

h1 {
  margin: 20px auto;
}

h1, h2 {
  width: 300px;
  text-align: center;
  text-transform: capitalize;
}

ul {
  width: 300px;
  margin: 20px auto;
  list-style: none;
}

li {
  width: calc(100% - 40px);
  background: #e0e0e0;
  margin: 10px 0;
  float: left;
  padding: 20px;
}